* {margin: 0; padding: 0;}

#headerdiv {
  width: 100%;
  height: 100%;
}

#logodiv, #searchbardiv, #logindiv {
  display: inline-block;
  *display: inline;
  vertical-align: top;
}

#logodiv {
  width: 100px;
  height: 100px;
  background: #ff9999;
}

#searchbardiv {
  top: 10px;
  left: 25px;
  width: 50%;
  background: #99ff99;
}

#logindiv {
  float: right;
  background: #9999ff;
  width: 25%;
}
