* {margin: 0; padding: 0;}

#headerdiv {
  width: 100%;
  height: 100%;
  padding-top: 25px;
}

#logodiv, #searchbardiv, #logindiv {
  display: inline-block;
  *display: inline;
  vertical-align: top;
}

#logodiv {
  width: 100px;
  height: 100px;
  margin-left: 25px;
  background: #555;
}

#searchbardiv {
  margin-left: 25px;
  margin-top: 10px;
  width: 40%;
}

#hierarchy-link {
  margin-left: 20px;
}

/*
 * Login Area
 */

#logindiv {
  position: absolute;
  right: 0;
  width: 250px;
}

#login-fields {
  visibility: hidden;
  border: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-right: 25px;
  padding: 10px;
}

/* add space between login fields */
.login-field + .login-field {
  margin-top: 7px;
}

#login-link {
  text-align: right;
  padding-right: 25px;
}

#search-entry {
  padding: 10px;
  width: 65%;
  margin: 10px;
}

/**
 * Main Area
 */

#main-area {
  width: 100%;
  margin-top: 50px;
  margin-left: 35px;
}

#side-pane, #content-pane {
  display: inline-block;
  *display: inline;
  vertical-align: top;
}

#content-pane {
  width: 75%;
}

#side-pane {
  width: 200px;
  margin-right: 100px;
  padding: 10px;
  padding-bottom: 15px;
  float: right;
  position: relative;
}

/**
 * Search Result + Hierarchy Item style
 */
.item-icon, .item-desc-div {
  display: inline-block;
  *display: inline;
  vertical-align: top;
}

.item-icon {
  width: 35px;
  height: 35px;
  margin-left: 25px;
}

.item-desc-div {
  margin-left: 25px;
}

.comment-area {
  /*visibility: hidden;*/
  display: none;
  height: auto !important;
}

.breadcrump-icon {
  width: 18px;
  height: 18px;
}


